<div class="container">
  <div class="row top-row">
    <div class="col-4">
      <div class="game-item-box" id="game-anag">
          <button class="btn btn-warning game-name" routerLink="/juegos/anagrama">Anagrama</button>
      </div>
    </div>
    <div class="col-4">
        <div class="game-item-box" id="game-agil">
            <button class="btn btn-primary game-name" routerLink="/juegos/agilidad">Agilidad aritmética</button>
        </div>
    </div>
    <div class="col-4">
        <div class="game-item-box" id="game-num">
            <button class="btn btn-secondary game-name" routerLink="/juegos/adivina">Adivina el número</button>
        </div>
    </div>
  </div>
  <div class="row middle-row">
    <div class="col-4">
      <div class="game-item-box" id="game-tate">
          <button class="btn btn-success game-name" routerLink="/juegos/tateti">Ta-Te-Ti</button>
      </div>
    </div>
    <div class="col-4">
      <div class="game-item-box" id="game-ppt">
          <button class="btn btn-danger game-name" routerLink="/juegos/ppt">Piedra, papel o tijera</button>
      </div>
    </div>
    <div class="col-4">
      <div class="game-item-box" id="game-fore">
          <button class="btn btn-dark game-name" routerLink="/juegos/forest">Just a Forest</button>
      </div>
    </div>
  </div>
</div>

<!-- 

<div class="container">
    <div class="card">
      <img class="img-thumbnail"   src="./assets/imagenes/aritmetica.png" alt="Avatar" style="width:100%">
      <h1>Velocidad y agilidad aritmética </h1>
      <p class="title">Juego de agilidad mental</p>
      <p>UTN FRA </p>
  
      <a href="#"><i class="fa fa-dribbble"></i></a> 
      <a href="#"><i class="fa fa-twitter"></i></a> 
      <a href="#"><i class="fa fa-linkedin"></i></a> 
      <a href="#"><i class="fa fa-facebook"></i></a> 
      <p>           <button class="button"  (click)="Juego('Agilidad')">Jugar</button></p>
    
    </div>
  
    <div class="card">
      <img class="img-thumbnail" src="./assets/imagenes/ppt.jpg" alt="Avatar" style="width:100%; border-radius: 100%;">
      <h1>Piedra Papel o Tijera</h1>
      <p class="title">Juega contra la máquina</p>
      <p>UTN FRA </p>
      
      <a href="#"><i class="fa fa-dribbble"></i></a> 
      <a href="#"><i class="fa fa-twitter"></i></a> 
      <a href="#"><i class="fa fa-linkedin"></i></a> 
      <a href="#"><i class="fa fa-facebook"></i></a> 
      <p>           <button class="button"  (click)="Juego('PPT')">Jugar</button></p>
    </div>
    <div class="card">
      <img  class="img-thumbnail"  src="./assets/imagenes/adivina.jpg" alt="Avatar" style="width:100%">
      <h1>Adivina el número secreto</h1>
      <p class="title">Juego de estrategia</p>
      <p>UTN FRA </p>
      
      <a href="#"><i class="fa fa-dribbble"></i></a> 
      <a href="#"><i class="fa fa-twitter"></i></a> 
      <a href="#"><i class="fa fa-linkedin"></i></a> 
      <a href="#"><i class="fa fa-facebook"></i></a> 
      <p>           <button class="button"  (click)="Juego('Adivina')">Jugar</button></p>
    </div>
  </div>

  -->