
  
  <!-- First Container -->
  <div id ="quiwn"class="container-fluid bg-1 text-center" style="border-bottom: 3px solid white;">
    <h1 style="margin-bottom: 3rem;">Iván Rojas</h1>
    <img src="./assets/imagenes/pp.jpg" alt="Aguante Morón" style="width: 500px; height: 500px; border-radius: 100%; border: 3px solid white">
    <h3 style="margin-top: 2rem;">Soy un alumno de la UTN FRA</h3>
  </div>
  
  <!-- Second Container -->
  <div id ="que" class="container-fluid bg-2 text-center">
    <h3 class="margin">Dark Forest - Juego propio</h3>
    <p>
      Te encontrás perdido en un bosque a oscuras, donde poco después de despertarte, te das cuenta que no estás solo. El objetivo es 
      simple, encontrar la salida antes que esa presencia extraña te encuentre a vos. Contás con tres variantes de movimiento para cumplir con tu propósito.
    </p>
  </div>
  
  <!-- Third Container (Grid) -->
  <div id ="donde" class="container-fluid bg-3 text-center">    
    <h3 class="margin">¿En dónde funciona?</h3><br>
    <div class="row">
      <div class="col-sm-4">
        <p>Con las tecnologias WEB que permiten desarrollar aplicaciones multiplataforma</p>
        <img src="./assets/imagenes/quiensoy1.png" class="img-responsive margin imagenDeQuienSoy"  alt="Image">
      </div>
      <div class="col-sm-4"> 
        <p>Principalmente orientada a la experiencia del usuario, garantizando que su funcionamieto sea fluido y pensado en el comportamiento del usuario y en la funcionalidad.</p>
        <img src="./assets/imagenes/quiensoy2.png" class="img-responsive margin imagenDeQuienSoy" alt="Image">
      </div>
      <div class="col-sm-4"> 
        <p>Para los sistemas operativos lideres en el mercado del consumo masivo</p>
        <img src="./assets/imagenes/quiensoy3.png" class="img-responsive margin imagenDeQuienSoy" alt="Image">
      </div>
    </div>
  </div>
  
  <!-- Footer -->
  <footer class="container-fluid bg-4 text-center">
    <p>Modificado por <a href="https://github.com/ivan-rojas">Iván Rojas</a></p> 
  </footer>