h1 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-family: 'Lobster', cursive;
    font-size: 3rem;
    color: white;
    text-align: center;
}

.table-players {
    background: linear-gradient(#333, rgb(82, 78, 78), #333)
}

thead {
    text-align: center;
    border-right: 2px solid white;
    border-left: 2px solid white;
    border-top: 2px solid white;
}