<div class="container">
	<div class="row top-row">
		<div class="col-12 align-center">
			<h2>Login</h2>
		</div>
	</div>
	<div class="row middle-row">
		<div class="col-2"></div>
		<div class="col-8 align-center">
			<input type="text" class="form-control full-width align-center" [(ngModel)]="email" placeholder="Email">
		</div>
		<div class="col-2"></div>
	</div>
	<div class="row middle-row">
		<div class="col-2"></div>
		<div class="col-8 align-center">
			<input type="password" class="form-control full-width align-center" [(ngModel)]="password" placeholder="Clave">
		</div>
		<div class="col-2"></div>
	</div>
	<div class="row middle-row">
		<div class="col-2"></div>
		<div class="col-8 align-center">
			<button class="btn btn-outline-danger bit-right-margin" routerLink="/">Cancelar</button>
			<button class="btn btn-outline-success bit-left-margin" (click)="Login()">Acceder</button>
		</div>
		<div class="col-2"></div>
	</div>
	<div class="row middle-row">
		<div class="col-2"></div>
		<div class="col-8 align-center">
      <a routerLink="/register">Olvidé mi contraseña</a>
		</div>
		<div class="col-2"></div>
  </div>
  <div class="row middle-row last-row">
		<div class="col-2"></div>
		<div class="col-8 align-center" [ngClass]="{'error-message': isError == true, 'success-message': isError == false}">
			{{message}}
		</div>
		<div class="col-2"></div>
	</div>
</div>